<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opcion</title>
    <link rel="icon" href="assets/logos/orange_transparent.png" type="image/x-icon"/>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="libraries/bootstrap/css/bootstrap.css">
    <script src="libraries/bootstrap/js/bootstrap.js"></script>

    <!-- jQuery -->
    <script src="libraries/jquery/jquery-3.7.1.js"></script>
    <script src="libraries/jquery/jquery.session.js"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="styles/general.css">
    <link rel="stylesheet" href="styles/image.css">
    <link rel="stylesheet" href="styles/text.css">
    <link rel="stylesheet" href="styles/button.css">
    <link rel="stylesheet" href="styles/input.css">
    <link rel="stylesheet" href="styles/popup.css">

    <script src="./funciones/funciones.js"></script>
    <script src="./funciones/api.js"></script>

    <script>
        $(document).ready(function () {
            const site = sessionStorage.getItem("siteName");
            const siteValue = document.getElementById("site");
            siteValue.textContent = site
            const nom = sessionStorage.getItem("nom");
            const nomValue = document.getElementById("nom");
            nomValue.textContent = nom;
        });
    </script>
</head>
<body>
<div class="container-fluid" style="overflow: visible">
    <div class="row">
        <div class="col-md-12 form-group">
            <div class="col-md-auto">
                <div class="row justify-content-center col-md-auto">
                    <img src="assets/logos/logo_transparent.png" alt="Polytex Logo" class="img-polytex-ppal">
                    <div style="text-align: center; overflow: auto">
                        <img class="img-tecnico" src="assets/icons/user.png" alt="avatar">
                        <p class="text-white" id="nom" style="font-size: small">nom</p>
                        <p class="text-black-50" id="site" style="font-size: x-large">site</p>
                        <br>
                        <h2 class="text-white-50" id="titulo"> Opción de Gestión:</h2>
                        <br>
                        <button id="bt_auto" type="button" class="btn button-black-general"
                                onclick="window.location.href = 'paths.html'">
                            <img src="/assets/icons/check.png" alt="Automático" class="img-final">
                        </button>
                        <br>
                        <button id="bt_manunal" type="button" class="btn button-black-general"
                                onclick="window.location.href = 'selection.html'">
                            <img src="/assets/icons/check.png" alt="Manual" class="img-final">
                        </button>
                        <br>
                        <br>
                        <button id="bt_logout" type="button" class="btn-danger" onclick="logout()">Salir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>