<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configuracion Final</title>

    <link rel="icon" href="assets/logos/orange_transparent.png" type="image/x-icon"/>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="libraries/bootstrap/css/bootstrap.css">
    <script src="libraries/bootstrap/js/bootstrap.js"></script>

    <!-- jQuery -->
    <script src="libraries/jquery/jquery-3.7.1.js"></script>
    <script src="libraries/jquery/jquery.session.js"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="styles/general.css">
    <link rel="stylesheet" href="styles/image.css">
    <link rel="stylesheet" href="styles/text.css">
    <link rel="stylesheet" href="styles/button.css">
    <link rel="stylesheet" href="styles/input.css">
    <link rel="stylesheet" href="styles/popup.css">



    <script>
        $(document).ready(function () {
            let site = sessionStorage.getItem("siteName");
            let siteValue = document.getElementById("site");
            siteValue.textContent = site
            let nom = sessionStorage.getItem("nom");
            let nomValue = document.getElementById("nom");
            nomValue.textContent = nom;
            console.log(sessionStorage)

        });
    </script>
</head>
<body>

<div class="container-fluid" style="overflow: visible">
    <div class="row">
        <div class="col-md-12 form-group">
            <div class="col-md-auto">
                <div class="row justify-content-center col-md-auto">
                    <img src="assets/logos/logo_transparent.png" alt="Polytex Logo" class="img-polytex-ppal">
                    <div style="text-align: center; overflow: auto">
                        <img class="img-tecnico" src="assets/icons/user.png" alt="avatar">
                        <p class="text-white" id="nom" style="font-size: small">nom</p>
                        <p class="text-black-50" id="site" style="font-size: x-large">site</p>
                        <br>
                          <h2 class="text-white-50" style="margin-bottom: 20px"> Escoja la Ruta del Archivo CSV para el Guardado Automático: </h2>
                        <br>
                        <input type="file" id="fileInput1" style="display: none;" accept="directory" webkitdirectory>
                        <input class="button-black-general" type="button" value="Seleccionar Destino Usuarios" onclick="abrirSelectorDeCarpeta1('fileInput1')">
                        <br>
                        <label class="text-black-50" id="rutaCarpeta1Label" ></label>
                        <br>
                        <br>
                        <input type="file" id="fileInput2" style="display: none;" accept="directory" webkitdirectory>
                        <input class="button-black-general"  type="button" value="Seleccionar Destino Grup_limit" onclick="abrirSelectorDeCarpeta2('fileInput2')">
                        <br>
                        <label class="text-black-50" id="rutaCarpeta2Label"></label>
                        <br>
                        <br>
                        <br>
                        <button id="bt_okUser" type="button" class="btn btn-success" onclick="guardarCarpeta()">
                            <img src="/assets/icons/check.png" alt="Guardar" class="img-final">
                        </button>
                        <br>
                        <br>
                        <button id="bt_saltar" type="button" class="button-orange-general"
                                onclick="window.location.href= 'updatacion.html'">Saltar Paso
                        </button>
                        <br>
                        <br>
                        <button id="bet_noUser" type="button" class="btn btn-danger"
                                onclick="window.location.href= 'dos.html'">
                            <img src="/assets/icons/alert.png" alt="Atràs" class="img-final">
                        </button>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<script src="./funciones/funciones.js"></script>
<script src="./funciones/api.js"></script>
</html>