<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Site Info</title>

    <link rel="icon" href="assets/logos/orange_transparent.png" type="image/x-icon"/>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="libraries/bootstrap/css/bootstrap.css">
    <script src="libraries/bootstrap/js/bootstrap.js"></script>

    <!-- jQuery -->
    <script src="libraries/jquery/jquery-3.7.1.js"></script>
    <script src="libraries/jquery/jquery.session.js"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="styles/general.css">
    <link rel="stylesheet" href="styles/image.css">
    <link rel="stylesheet" href="styles/text.css">
    <link rel="stylesheet" href="styles/button.css">
    <link rel="stylesheet" href="styles/input.css">
    <link rel="stylesheet" href="styles/popup.css">

    <script src="./funciones/funciones.js"></script>
    <script src="./funciones/api.js"></script>

    <script>
        $(document).ready(function () {
            let nom = sessionStorage.getItem("nom");
            let nomValue = document.getElementById("nom");
            nomValue.textContent = nom;
            let resp = sessionStorage.getItem("site");
            let r = JSON.parse(resp);

            const site_id_match = r.match(/site_id='(.*?)'/);
            const name_match = r.match(/name='(.*?)'/);

            const site_id = site_id_match ? site_id_match[1] : null;
            const name = name_match ? name_match[1] : null;

            sessionStorage.setItem("siteID", site_id);
            sessionStorage.setItem("siteName", name);

            let siteInfoDiv = document.getElementById("siteInfo");

            let fieldsString = r.substring(r.indexOf("{") + 1, r.lastIndexOf("}"));
            let fieldsArray = fieldsString.split(", ");
            fieldsArray.forEach(dato => {
                let [clave, valor] = dato.split("=");
                valor = valor.replace(/^'(.*)'$/, '$1').replace(/^"(.*)"$/, '$1');
                let parrafo = document.createElement("p");
                let claveSpan = document.createElement("span");
                let valorSpan = document.createElement("span");

                claveSpan.textContent = clave.toUpperCase() + ': ';
                valorSpan.textContent = valor.toLowerCase();

                claveSpan.classList.add("text-bold");
                valorSpan.classList.add("text-keyboard");

                parrafo.appendChild(claveSpan);
                parrafo.appendChild(valorSpan);

                siteInfoDiv.appendChild(parrafo);
            });
        })
        console.log(sessionStorage)
    </script>
</head>
<body>

<div class="container-fluid" style="overflow: auto">
    <div class="row">
        <div class="col-md-12 form-group">
            <div class="col-md-auto">
                <div class="row justify-content-center col-md-auto">
                    <img src="assets/logos/logo_transparent.png" alt="Polytex Logo" class="img-polytex-ppal">
                    <div style="text-align: center">
                        <img class="img-tecnico" src="assets/icons/user.png" alt="avatar">
                        <p class="text-white" id="nom" style="font-size: small">nom</p>
                        <br>
                        <h2 class="text-white-50" id="titulo">Información del Site </h2>
                        <br>
                        <div class="row justify-content-center col-md-auto">
                            <div class="button-orange-site" id="siteInfo"></div>
                        </div>
                        <br>
                        <br>

                        <button id="bt_logout" type="button" class="btn-danger"
                                onclick="window.location.href = 'sites.html'">
                            <img src="/assets/icons/check.png" alt="Cambiar Site" class="img-final">
                        </button>
                        <br>
                        <br>
                        <br>
                        <button id="bt_login" type="button" class="btn btn-success" onclick="postUserdef()">
                            <img src="/assets/icons/check.png" alt="Continuar" class="img-final">
                        </button>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>